ion-fab-button{
    --background: transparent;
    --color:black;
    --box-shadow:none;
}
ion-card:hover{
    animation-duration: 0.5s;
    animation-name: grow;
}
ion-item{
    position: sticky; 
    top: 0; 
    z-index: 100;
    ion-icon{
        margin-right: 1pc;
    }
}
ion-fab{
    z-index: 90;
}
@keyframes grow {
    50% {
        transform: scale(1.03);
        background-color: ghostwhite;
    }
    to{
        transform: scale(1);
        background-color: white;
    }
}