ion-fab-button{
    --background: transparent;
    --color:black;
    --box-shadow:none;
}
ion-card:hover{
    transform: scale(1.05);
    background-color: lightgrey;
    transition-duration: 0.5s;
}