ion-fab-button{
    --background: transparent;
    --color:black;
    --box-shadow:none;
}
ion-card:hover{
    transform: scale(1.05);
    background-color: lightgrey;
    transition-duration: 0.35s;
}
ion-item{
    position: sticky; 
    top: 0; 
    z-index: 100;
    ion-icon{
        margin-right: 1pc;
    }
}