<app-header *ngIf="seasonsList" [title]="seasonsList[0].serie.name" [back]="true"></app-header>

<ion-content>
    <ion-card *ngFor="let s of seasonsList">
        <ion-card-header>
            <ion-card-subtitle>Temporada - {{s.number}}</ion-card-subtitle>
            <ion-card-title></ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <h1 *ngIf="s.viewedEpisodes!=s.totalEpisodes">Siguiente episodio {{s.viewedEpisodes + 1}}</h1>
            <h2>Vistos {{s.viewedEpisodes}} / {{s.totalEpisodes}}</h2>
        </ion-card-content>
    </ion-card>
</ion-content>
