<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" fill="clear" shape="round">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{id_serie?"Actualiza la serie '"+name+"'" : 'Añade una nueva serie'}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Escribe el nombre</ion-label>
      <ion-input [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Estado</ion-label>
      <ion-select [(ngModel)]="state" interface="action-sheet">
        <ion-select-option value="pending">Pendiente</ion-select-option>
        <ion-select-option value="initiated">Empezada</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Página web</ion-label>
      <ion-input type="text" placeholder="Escribe la página donde ves la serie" [(ngModel)]="webPage"></ion-input>
    </ion-item>
    <ion-button (click)="chooseImg()" shape="round">
      <ion-icon slot="start" name="image-outline"></ion-icon>
      Agregar imagen
    </ion-button>

    <div *ngIf="state=='initiated'">
      <p>Hasta donde has visto</p>
      <ion-item>
        <ion-label position="floating">Temporada</ion-label>
        <ion-input type="number" [(ngModel)]="seasonsViewed" (ionBlur)="verify()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Episodio</ion-label>
        <ion-input type="number" [(ngModel)]="episodesViewed" (ionBlur)="verify()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Episodios por temporada</ion-label>
        <ion-input type="number" [(ngModel)]="episodes_seasons" (ionBlur)="verify()"></ion-input>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>

    <ion-button (click)="add()" expand="block" mode="ios" color="primary" shape="round">
      <ion-icon slot="start" name="layers-outline"></ion-icon>
      Guardar
    </ion-button>
  </ion-toolbar>
</ion-footer>
