<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()" fill="clear" shape="round">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Editar temporada de {{serieName}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label>Temporada</ion-label>
    <ion-input type="number" readonly [(ngModel)]="season.number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Episodios vistos</ion-label>
    <ion-input type="number" [(ngModel)]="season.viewedEpisodes" (ionBlur)="verify()"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Total de episodios</ion-label>
    <ion-input type="number" [(ngModel)]="season.totalEpisodes" (ionBlur)="verify()"></ion-input>
  </ion-item>
  <ion-button (click)="del()" expand="block" color="danger" shape="round">
    <ion-icon slot="start" name="trash"></ion-icon>
    Eliminar temporada
  </ion-button>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="save()" expand="block" shape="round" color="primary">
      <ion-icon slot="start" name="layers-outline"></ion-icon>
      Guardar cambios
    </ion-button>
  </ion-toolbar>
</ion-footer>